/*#252830
#434857
#1e2127
#585e72*/
html, body {
	background: #252830;
}
.logo {
	margin: 3vh 0;
	width: 8vh;
}
.top-btn {
	margin-top: 4.6vh;
	margin-left: .5vw;
}
.btn-dark, .btn-dark:focus {
	height: 6vh;
	padding: 1.3vh 1.5vw;
	background: #1e2127;
	color: #d8d8d8;
	box-shadow: 0px 7px 10px -1px rgba(0,0,0,.37);
	border: none;
	border-radius: 0;
	transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}
.btn-dark:hover {
	background: #1e2127;
	color: #fff;
	transform: translateY(-3px);
	box-shadow: 0px 7px 10px -1px rgba(0,0,0,.5);
}
.btn-dark-input:hover {
	transform: translateY(0);
	box-shadow: 0 7px 10px -1px rgba(0,0,0,.37);
}
.bg-dark {
	background-color: #434857 !important;
}
.navbar, .main-container {
	box-shadow: 0px 7px 10px -1px rgba(0,0,0,.37);
}
.main-container {
	margin-top: 2vh;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 0;
	background: #434857;
}
.main-container .card-header, .main-container .card-body {
	border-radius: 0;
	color: white;
}
.main-container .card-header {
	background: #585e72;
	text-transform: uppercase;
	margin: 10px 10px 0;
	transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}
.main-container .card-header:hover {
	cursor: pointer;
	box-shadow: 0px 7px 10px -1px rgba(0,0,0,.37);
	transform: translateY(-3px);
}
#main-container-modal .modal-content {
	background-color: #434857;
	border-radius: 0;
	border: none;
}
#main-container-modal .modal-header {
	background-color: #585e72;
}
#main-container-modal .modal-header, #main-container-modal .modal-footer {
	border: none;
	border-radius: 0;
}
.col-sm-12, .col-md-4, .col-md-6, .col-md-8, .col-md-10, .col-md-12 {
	padding: 0;
}